<div class="container align-vertical hero">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-left">
            <h1>Modern Producs</h1>
            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
            <div class="button-group">
                <a href="#products" class="btn btn-default">Purchase</a>
                <a href="#products" class="btn btn-primary">Shop Now</a>
            </div>
        </div>
    </div><!--end of row-->
</div><!--end of container-->