
<header class="fullscreen-element">
	<%= render partial: 'spree/shared/fullscreen_header' %>
</header>
<div data-hook="homepage_products" id="products" class="container">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>

