<!DOCTYPE html>
<html>
  <head>
    <title>Gecko</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
